<!DOCTYPE html>
<html>
  {{> head}}

  <body>
    <div class="container clear-top panel panel-default">
      <h2 style="font-size: 70px">Doppelkinn-Domme Ausreden-Generator</h2>
      <br />
      <br />
      <a href="whatsapp://send?text={{dommeSays}}" data-action="share/whatsapp/share"
         data-href="">
        <!-- <img src="img/WhatsApp.png" alt="Whatsapp Logo"/> -->
        Teile Domme's Ausrede via Whatsapp!
      </a>

      <div class="alert alert-success"
           style="position: relative;
                  width: 635px;
                  padding-bottom: 30px;">
        <span class="glyphicon glyphicon-user"
              style="font-size: 25px;">Doppelkinn-Domme:</span>
        <br />
        <span style="font-size: 32px;">{{dommeSays}}</span>
        <br />
        <div style="font-size: 23px;
                    position: absolute;
                    bottom: -2;
                    right: 0;">
          {{getTime}}
        </div>
      </div>
      <br />
      <br />
      <a href="#" onClick={location.reload()}
         class="btn btn-primary btn-primary"
         style="font-size: 32px;">Sprich Domme</a>
      {{> footer}}
    </div>
  </body>
</html>
